<!doctype html>
<html lang="en"> <!-- manifest="manifest.appcache" -->
<head>
  <meta charset="utf-8">

  <title>Seeds</title>
  <meta name="description" content="A Simple, Free and Open Twitter Client">
  <meta name="author" content="Bill Fisher">

  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0"/>

  <link rel="stylesheet" href="app/css/style.css">

  <!-- scripts that unfortunately have to be loaded in the head -->
  <script>
    var addToHomeConfig = {
      animationIn: 'fade',
      lifespan: 10000,
      expire: 60 * 24 * 3, // every three days
      message: 'Yo!  Seeds is an app!  Save it to your homescreen!'
      // touchIcon: true // if we had one
    };
  </script>
  <script src="app/js/vendor/cubiq-home-screen/add2home.js"></script>
  <script src="app/js/vendor/modernizr/modernizr.custom.18415.js"></script>
</head>
<body>


<header>
  <div class="core">
    <h1>Seeds</h1>
  </div>
</header>
<section id="seeds-app" class=core>
  <div id="seeds-carousel">
    <div class="auth panel disabled" data-carousel-index="0"></div>
    <ul class="tweetlist panel" data-carousel-index="1"></ul>
    <div class="createtweet panel disabled" data-carousel-index="2"></div>
  </div>
</section>


<!-- backbone templates -->
<script type="text/template" id="seeds-template-auth">
  <div class="wrap">
    <p>Please sign in with your Twitter username:</p>
    <input type="text" id="seeds-nickname-key" />
    <div class="button" id="seeds-sign-in-button">Sign in!</div>
  </div>
</script>

<script type="text/template" id="seeds-template-nav">
  <li data-view="tweetlist" class="tweetlist-button">
    <div class="first stripe"><span></span></div>
    <div class="middle stripe"><span></span></div>
    <div class="stripe"><span></span></div>
    <div class="refresh"></div>
  </li>
  <li data-view="createtweet"  class="createtweet-button">
    <div></div>
  </li>
</script>

<script type="text/template" id="seeds-template-tweet">
  <div class="col-1">
    <img class="user profile-image" height="48px" width="48px" src="<%= user.profile_image_url %>" alt="" />
  </div>
  <div class="col-2">
    <span class="user name"><%= user.name %></span>&nbsp;
    <span class="user nickname">@<%= user.screen_name %></span>
    <span class="tweet-text"><%= text %></span>
  </div>
</script>

<script type="text/template" id="seeds-template-createtweet">
  <div class="wrap">
    <textarea />
    <div class="chars-left"><span class="countdown">140</span><span>&nbsp;characters left</span></div>
    <div class="button">Tweet</div>
  </div>
</script>


<script data-main="app/js/main.js" src="app/js/vendor/requirejs/require.js"></script>

</body>
</html>