body {
    font-size: 140%;
    font-family: GudeaRegular,arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: CartoGothicStdBold,arial;
}
#seeds-app {
    max-width: 38em;
    margin: 0 auto;
}
h1 {
    font-size: 1.5em;
}

input[type=text], button {
    font-size:100%;
}

.info p {
    min-height: 1.2em;
}
.flash-message {
    font-style: italic;
    opacity: 1;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.flash-message.success {
    color: darkgreen;
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}
.flash-message.error {
    color: crimson;
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}
form {
    width: 100%;
    margin-bottom: 2em;
}
textarea {
    font-size: 1em;
    width: 100%;
    height: 5em;
    margin-bottom: 2em;
    box-sizing: border-box;
}
input[type=submit] {
    font-size: 1em;
    border: 0;
    padding: 0.75em;
    border-radius: 0.5em;
}
.tweetlist {
    list-style: none;
    border: 1px solid black;
    border-bottom: 0;
    padding: 0;
    margin-top: 2em;
    box-sizing: border-box;
}
.tweet {
    border-bottom: 1px solid black;
    padding: 0.5em;
    font-size: 0.85em;
    overflow: hidden;
}
.col-1 {
    display: table-cell;
}
.col-2 {
    display: table-cell;
    vertical-align: top;
    padding-left: 0.5em;
}
.name, .nickname {
    font-size: 85%;
}
.name {
    font-weight: bold;
    font-family: CartoGothicStdBold, helvetica, arial, sans-serif;
}
.nickname {
    font-style: italic;
    color: #888;
}
.tweet-text {
    display: block;
}

.user.profile span, .user.profile a {
    display:block;
}
