body {
    font-family: helvetica,"droid sans",arial,sans-serif;
    margin: 0;
}
header {
    background: #000;
    color: #fff;
    overflow: hidden;
    padding:0.3em 0.5em;
}
.core {
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    float: left;
}
h2 {
    font-size: 0.8em;
    padding: 1.2em 0.5em 0.3em;
    margin: 0;
    font-weight: normal;
    color: #444;
    font-style: italic;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ----------------------
 *
 * navigation
 *
 */
#seeds-primary-nav {
    float: right;
    overflow: hidden;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
header li {
    float: left;
    margin-left: 1em;
    width: 1.6em;
    height: 1.6em;
    padding: 0.3em;
    border: 2px solid #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
}
header li a {
    display: none;
}
.tweetlist-button {
    background:#000;
}
.stripe {
    height: 18%;
    background: #fff;
    overflow: hidden;
}
.stripe.first {
    margin-top: 7%;
}
.stripe.middle {
    margin: 15% 0;
}
.stripe span {
    float: left;
    background: #000;
    margin-left: 14%;
    width: 14%;
    height: 100%;
}
.createtweet-button div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(data:image/gif;base64,R0lGODlhMgAyAKIAAP///wEBAZeUlNDOzmZjYri2tjU0M+Pi4SH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOkY4N0YxMTc0MDcyMDY4MTE4QTZEQzhDRjgyQTYwNTcyIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkUxOUU1OENDN0I5OTExRTI5NDg1ODFBNEY3MjM3NkFDIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkUxOUU1OENCN0I5OTExRTI5NDg1ODFBNEY3MjM3NkFDIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIElsbHVzdHJhdG9yIENTNSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY4N0YxMTc0MDcyMDY4MTE4QTZEQzhDRjgyQTYwNTcyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY4N0YxMTc0MDcyMDY4MTE4QTZEQzhDRjgyQTYwNTcyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAADIAMgAAA/8Yutz+cBlDRBnnlMg7pMUBjCQgeGhnCGLpEmncrG49GnJODHY95DJBz3YCegyF4WhQEBAIOCPH0CodeCTmMyr9VEmFZK/YdRiI4h63LPkCDhblhs2gugY7JQBGX6SXeUoHfQtCJQWBSnx9Z4cEbmqEdmCJSmR0hiMFBlh6B2tljUuceiSLdGkDSKVLhAEEJJ9/eqBlaTSse66iT7kAc4RiUL6qu5qTGmGdJcWusKqdVwITEwQhAM2uSbg+UAoUtXR7sHqbrjPTkD7hjKtKeOcP5DZw7OeiI1eI9vEBA6rU+PVTAEvguQoCEiocodDJQAbLatgB9jCiC1IUB1obwgNb0cM6PVoYZDSm4EMKCmdlSdIkobdgvhKmydgFXykY+EYe8aVrEgCdKngW6QSUwzxWczKd6nK01I8ASvtkYvV03qUuKmm9AtNHnSIKWfrsyEC2rNkM/zBcWWokAQA7);
}


/* -------------------------
 *
 * 3D Carousel animation
 *
 * modified slightly from: http://desandro.github.com/3dtransforms/docs/carousel.html
 *
 */
#seeds-app {
    -webkit-perspective: 1600px;
       -moz-perspective: 1600px;
         -o-perspective: 1600px;
            perspective: 1600px;
    position: relative;
}
#seeds-carousel {
    position: relative;
    width:100%;
    height:100%;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
         -o-transition: -o-transform 1s;
            transition: transform 1s;
    -webkit-transform-origin: center center;
}
.panel {
    position:absolute;
        background: #fff;
    width:100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}
.createtweet {
    -webkit-transform: rotateY( 240deg );
}
.tweetlist {
    -webkit-transform: rotateY( 120deg );
    background: #eee;
    border: 1px solid #000;
    border-bottom: 0;
    box-sizing: border-box;
}

/* ------------------
 *
 * tweetlist panel
 *
 */
.tweetlist li {
    border-bottom: 1px solid #000;
    padding: 0.5em;
    font-size: 0.85em;
    overflow: hidden;
}
.col-1 {
    display: table-cell;
}
.col-2 {
    display: table-cell;
    vertical-align: top;
    padding-left: 0.5em;
}
.name, .nickname {
    font-size: 85%;
}
.name {
    font-weight: bold;
    font-family: CartoGothicStdBold, helvetica, arial, sans-serif;
}
.nickname {
    font-style: italic;
    color: #888;
}
.tweet-text {
    display: block;
}

/* -------------------
 *
 * createtweetpanel
 *
 */
.createtweet .wrap, .auth .wrap {
    padding: 1em 0.5em;
}
.createtweet textarea {
    font-size: 1em;
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.chars-left {
    float: left;
    color: #888;
    font-style: italic;
    font-size: 0.8em;
}
.too-long .chars-left {
    color: #800;
}
.button {
    float: left;
    padding: 1em;
    background: #ccc;
    float: right;
}
.disabled .button {
    background: #eee;
    color: #ccc;
}

/* auth panel */
.auth input[type=text] {
    font-size:100%;
    float: left;
}

.auth .button {
    float:left;
    clear: both;
    margin-top:1em;
}


/* ----------------------
 *
 * media queries
 *
 */

/* micro devices */
@media (max-width: 200px) {
    .button {
        float: left;
    }
    .chars-left {
        margin-bottom: 1em;
    }
}
@media (max-width: 230px) {
    h1 {
        font-size: 1.2em;
        padding-top: 0.4em;
    }
}

/* phones and tablets */
@media (min-width: 305px) {
    body {
        font-size: 120%;
    }
    .createtweet .wrap, .auth .wrap {
        padding: 1em 0.5em;
    }
}
@media (min-width: 460px) {
    .createtweet textarea {
        margin-bottom: 2em;
    }
}
@media (min-width: 535px) {
    body {
        font-size: 140%;
    }
}
@media (min-width: 820px) {
    body {
        font-size: 160%;
    }
}

/* desktop */
@media (min-width: 1025px) {
    header {
        padding: 0.3em 0;
    }
    .createtweet .wrap, .auth .wrap {
        padding: 2em 0em;
    }
}

/* big screen */
@media (min-width: 2050px) {
    body {
        font-size: 185%;
    }
}
